<div class="col">
    
{% extends 'base.html'%}
{% block title%}
PAC - Daftar Relawan
{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2">
    <h1 class="judul-form">
      UPDATE KASUS
    </h1>
  </div>
 <div class="p-2">
  <form action='' method="POST">
    {% csrf_token %}
    {{ form }}
    <div class="centre-items">
        <input type="submit" class="button1" value="update">
   </div>
</form>
</div>

</div>
{% endblock %}