{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div id="awal">
            <div class="container-fluid" style="background-image: url('https://hogantaylor.com/wp-content/uploads/2020/03/Coronavirus-masks-blur-top.jpg');
            padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;">
                <div class="row" >
                <div class="col-md-4 col-xs-12" >
                    
                </div>
                <div class="col-md-8 col-xs-12"> 
                    <p style="color:#d61616;font-size: 6vw;font-weight: bold;line-height: 8vw; font-family: Roboto;text-align:right">
                      <strong><b><br>BERSAMA<br>LAWAN<br>CORONA<br><br></b></strong>
                   </p>
                   <a href="/update" style="float:right;"><button type="button" style ="border-radius:4px;background-color:#884442">Update Kasus</button></a>
                </div>
            </div>
            </div>      
        </div>

        <div id="kasus" style="background-color: #9bb1af;height:100% "></div>
            <div class="container-fluid" style="
            padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;">
                
                        <div class="row">    
                          <div class="col-md-2">
                                <h1 class="judul-form">
                                  <p class="card-text"style="text-align:center; margin-top:3vw; margin-bottom:auto; font-size:1.2vw;font-family: Roboto">
                                  KASUS COVID-19
                                  <br>
                                  {% for xx in kasus %}
                                    {% if forloop.last %}
                                      <p style="text-align:center; margin-top:3vw; margin-bottom:auto; font-size:1.2vw;font-family: Roboto"> last updated : {{xx.tanggal}}</p>
                                      {% endif %}
                                    {% endfor %}
                                  </p>
                                </h1>
                            </div>
                                        {% for xx in kasus %}
                                            {% if forloop.last %}
                                                <div class="col-md-2">
                                                  <div class="card bg-light mt-5"" >
                                                    
                                                      <h4 class="card-title" style="text-align:center; font-size:1vw;font-family: Roboto"><b>POSITIF</b></h4>
                                                      <p class="card-text"style="text-align:center; margin-top:2vw; margin-bottom:2vw; font-size:1.2vw;font-family: Roboto">{{xx.positif}}</p>
                                                </div>
                                              </div>
                                                <div class="col-md-2">
                                                  <div class="card bg-light mt-5">
                                                      <h4 class="card-title" style="text-align:center; font-size:1vw;font-family: Roboto"><b>SEMBUH</b></h4>
                                                      <p class="card-text"style="text-align:center; margin-top:2vw; margin-bottom:2vw; font-size:1.2vw;font-family: Roboto">{{xx.sembuh}}</p>
                                              
                                                  </div>
                                                </div>
                                                <div class="col-md-2">
                                                  <div class="card bg-light mt-5">
                                                      <h4 class="card-title" style="text-align:center; font-size:1vw;font-family: Roboto"><b>MENINGGAL</b></h4>
                                                      <p class="card-text"style="text-align:center; margin-top:2vw; margin-bottom:2vw; font-size:1.2vw;font-family: Roboto">{{xx.meninggal}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-md-2">
                                                  <div class="card bg-light mt-5">
                                                      <h4 class="card-title" style="text-align:center; font-size:1vw;font-family: Roboto"><b>KASUS AKTIF</b></h4>
                                                      <p class="card-text"style="text-align:center; margin-top:2vw; margin-bottom:2vw; font-size:1.2vw;font-family: Roboto">{{xx.kasusAktif}}</p>
                                                  </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                            </div>
                    </div>
            </div>
            <div class="container-fluid" style="
            padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;">
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="margin-left: auto; margin-right: auto;">
              
                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
              
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                  <li data-target="#multi-item-example" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
              
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    
                  <!--First slide-->
                  <div class="carousel-item active">
                    
                    <div class="row">
                    <div class="col-md-1" style="float:left">
                   
                    </div>

                    <div class="col-md-4" style="float:left">
                     <div class="card mb-2">
                        <img class="card-img-top"
                          src="https://www.fda.gov/files/disposable_facemask.png" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;font-family: Roboto">Use Your Mask</h4>
                          <p class="card-text" style="text-align: center;font-family: Roboto">Gunakan Maskermu, Selamatkan Sekitarmu!</p>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-2" style="float:left">
                      
                    </div>

                    <div class="col-md-4" style="float:left">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="https://i2.wp.com/fractal.ai/wp-content/uploads/2020/03/handwash-1.jpg?ssl=1" alt="Card image cap">
                        <div class="card-body" >
                          <h4 class="card-title" style="text-align: center;font-family: Roboto">Wash Your Hand!</h4>
                          <p class="card-text" style="text-align: center;font-family: Roboto">Keep Your Hand Sanitized, Wash Your Hand Regularly! </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-1" style="float:left">
                      
                    </div>

                  </div>
                  </div>
                    
              
                  </div>
                  <!--/.First slide-->
              
                  <!--Second slide-->
                  <div class="carousel-item">
                    <div class="row">
                    <div class="col-md-4" style="float:left">
                    
                    </div>

                    <div class="col-md-4" style="float:left">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="https://i2.wp.com/fractal.ai/wp-content/uploads/2020/03/handwash-1.jpg?ssl=1" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title">Wash Your Hand!</h4>
                          <p class="card-text">Keep Your Hand Sanitized!</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4" style="float:left">
                      
                    </div>

                  </div>
                </div>
                    
              
                  </div>
                  <!--/.Second slide-->
              
                 
              
                </div>
                <!--/.Slides-->

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#multi-item-example" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#multi-item-example" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              
              </div>
            </div>

        
            </body>
{% endblock content %}
