<div class="col-md-12">
{% extends 'base.html'%}
{% block title%}
PAC - About Us
{% endblock %}
{% block content %}
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<style>
    hr { 
        position: relative; 
        top: 20px; 
        border: none; 
        height: 8px; 
        background: chocolate; 
        margin-bottom: 50px; 
        margin-left: 107px;
        margin-right: 107px;
    }
    .responsive {
        width: 300px;
        height: 200px;
    }
    @media (max-width: 767px) {
        .responsive{
            width: 150px;
            height: 100px;
        }
    }
    h1 {
        color: #A82223;
        font-weight: 700;
        font-style: italic;
        font-family: 'Source Sans Pro', sans-serif;
    }
    h2 {
        color: #A82223;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
    }
    h6 {
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
    }
    p {
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .button1 {
        width: 160px;
        height: 50px;
        background: #A82223;
        border-radius: 30px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

</style>
<meta charset="UTF-8">
    <div class ="container">
        <img src = "https://wallpapercave.com/wp/wp2553455.jpg"  align="right" alt="Foto Grup" class="responsive"/>
        <h1>ABOUT US</h1>
        <h2>Nama Kelompok</h2>
        <h6>Achmad Fikri Adidharma</h6>
        <h6>Alfred Prasetio</h6>
        <h6>Andhika Rifki Alfariz</h6>
        <h6>Az-zahra Syamsa Rahmita Putri</h6>
        <h6>Maheswara Ananto Argono</h6>
        <div class = "container">
        </div>
    </div>
    <div class="container">
        <h2>About Project</h2>
        <p>Aplikasi yang kami buat ini adalah web yang dapat mencari relawan
            untuk membantu menangani Covid-19 di Indonesia. Web ini juga dapat
            membantu meningkatkan kesadaran diri kita untuk tidak keluar disaat
            pandemi ini agar angka Covid bisa menurun. Web ini juga memberikan
            update data angka pasien Covid di daerah kita yang dapat membantu
            menyadarkan diri kita supaya lebih menjaga diri. Aplikasi ini juga
            memberikan info penting mengenai Satgas Covid supaya kita dapat
            membantu menurunkan angka Covid dan memberikan bantuan jika terdapat
            tersangka positif.</p>
    </div>
    <div class = "container">
        <h2>Goals</h2>
        <p>Tujuan kami membuat aplikasi ini adalah untuk meningkatkan kesadaran penduduk
        Indonesia supaya lebih hati-hati terhadap virus Covid-19.</p>
    </div>
    <hr>
    <div class = "container">
        <h2>Kritik dan Saran</h2>
        {% for hasil in kritik %}
            <div class="card">
                Author: {{hasil.Username}}
                <br>
                Posted on: {{hasil.Date}}
                <br>
                Pesan: {{hasil.Pesan}}
            </div>
        {% endfor %}
        <br>
        <div style="text-align: right;">
            <a href="{% url 'aboutus:kritik' %}">
                <button class="button1" >+ Kritik dan Saran</button>
            </a>
        </div>
        <p></p>
    </div>
{% endblock %}
</div>