<div class="col-md-12">
{% extends 'base.html'%}
{% block title%}
PAC - Tambah Kritik dan Saran
{% endblock %}
{% block content %}
{% load static %}
<meta charset="UTF-8">
<style>
    .btn{
        display: inline-block;
    }
</style>
    <div class="container">
        <h1>Kritik dan Saran</h1>
        <form action ='' method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn" style="background-color: #A82223; color: white;" value="KIRIM">
        </form>
        <a href="{% url 'aboutus:about' %}">
            <button class="btn btn-icon btn-danger">Batalkan</button>
        </a>
    </div>
</div>
{% endblock %}
 