{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div class="container-fluid" style="background-color: #9fd7d1">
                    <div class="row">    
                        <div class="col"">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Dosen</th>
                                    <th scope="col">Jumlah SKS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for xx in matkul %}
                                        <tr>
                                        <th scope="row">{{xx.Nama}}</th>
                                        <td>{{xx.Dosen}}</td>
                                        <td>{{xx.JumlahSKS}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </body>
{% endblock content %}