{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'csshotline.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--form section-->
    <section id="form">
    <h1 id="form-title">TAMBAHKAN HOTLINE</h1>
    </section>
    <section>
    <div class="row">
    <form method="POST" action=""  id="form-label">
        {% csrf_token %}
        <table>
        {{ tabel_form.as_table }}
        </table>
        <input type="submit" value="KIRIM" id="form-kirim">
        <a id="form-batalkan" href="/hotline/">batalkan</a>
    </form>
    </div>
    </section>
{% endblock content %}