{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'csshotline.css' %}" type="text/css">
{% endblock %}


{% block content %}
    <section id="hotline">
    <div>
        <h1 id="hot-title">HOTLINE</h1>
    </div>
    <div id="hot-button">
        <a id="hot-button-text" href='addhotline'>Tambah Hotline</a>
    </div>

    <div id="my-hotline">
    {% csrf_token %}
    {% for hotline in list_hotline %}
    <div class="flex-container my-item">
        <div><img class="img-responsive" src="{{hotline.logo}}" width="auto" height="125px"></div>
        <div>
            <h3 id="hot-nama">{{hotline.nama}}</h3><br>
            <h4>{{hotline.telp}}</h4><br>
            <h4>{{hotline.alamat}}</h4>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
    
    <!--
 {% csrf_token %}
        {% for hotline in list_hotline %}
            <div class="d-flex hotline-item">
                <img id="hot2-img" src="{{hotline.logo}}">
                <div class='info'>
                    <h3 id="hot-nama">{{hotline.nama}}</h3>
                    <h4>{{hotline.telp}}</h4>
                    <h4>{{hotline.alamat}}</h4>
                </div>
            </div>
        {% endfor %}
    </section>


    <div id="hotline-container">
        {% csrf_token %}
        {% for hotline in list_hotline %}
        <div class="row" id="hot-row">
        <div class="col-6">
            <table>
                <tr id="hot-table" class="col-6">
                <th><img id="hot2-img" src="{{hotline.logo}}"></th>
                <th>
                    <table><tr>
                        <h4 id="hot-nama">{{hotline.nama}}</h4>
                        <h4>{{hotline.telp}}</h4>
                        <h4>{{hotline.alamat}}</h4>
                    </tr></table>
                </th>
                </tr>
            </table>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>

    <section id="isi">
        <div id="hot-row" class="d-flex flex-row flex-nowrap">
        {% csrf_token %}
        {% for hotline in list_hotline %}
        <div class="d-flex flex-column">
            <img id="hot2-img" src="{{hotline.logo}}">
        </div>
        <div class="d-flex flex-column">
            <div class="p-2" id="hot-nama">{{hotline.nama}}</div>
            <div class="p-2">{{hotline.telp}}</div>
            <div class="p-2">{{hotline.alamat}}</div>
        </div>
        </div>
        {% endfor %}
    </section> 
  
<section>
<div class="container" id="container-hot">
    <div class="row justify-content-around">
        {% csrf_token %}
        {% for hotline in list_hotline %}
        <div class="col-6">
            <div id="hot-row" class="d-flex flex-wrap flex-row">
                <div class="order-1 p-2 col-lg-6 col-md-6 col-sm-12">
                    <img id="hot2-img" src="{{hotline.logo}}">
                </div>
                <div class="order-2 d-flex flex-column">
                    <div class="order-1 p-2" id="hot-nama">{{hotline.nama}}</div>
                    <div class="order-2 p-2">{{hotline.telp}}</div>
                    <div class="order-3 p-2">{{hotline.alamat}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section> -->

{% endblock content %}