{% extends 'base.html'%}
{% block title%}
PAC - Artikel
{% endblock %}
{% block content %}

<br>
<h1> {{ artikel.judul }} </h1>
<p>Ditulis oleh : {{ artikel.penulis }} </p>
<img src="{{ artikel.gambar.url }}" width='500px'>
<p> {{ artikel.konten }} </p>

<br>

<form method="POST">
    {% csrf_token %}
    {{ formB.nama }}
    {{ formB.komen }}
    <input name="artikel" type="text" value="{{ artikel.id }}" style="display: none;">
    <button type="submit" class="btn btn-dark col-6 mt-2">Komentari</button>
</form>



{% comment %} <ul>
    {% for komen in listKomen %}
    {% if komen.artikel.id == artikel.id %}
    <li class="row">
    <h5 class="col-10">{{ komen.nama }}</h5>
        <h5 class="col-10">{{ komen }}</h5>
    </li>
    {% endif %}
    {% endfor %}
</ul> {% endcomment %}

{% comment %} <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">Comments </h1>
                  </div> 
                   <div class="comments-list">
                       {% for komen in listKomen %}
                        {% if komen.artikel.id == artikel.id %} 
                       <div class="media">
                           <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left" href="#"> 
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a> 
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">{{ komen.nama }}</h4>
                              {{ komen }}                           
                            </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                   </div>
                </div>
            </div>
        </div> {% endcomment %}


    {% comment %} <div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>
                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2"> <input type="text" class="form-control" placeholder="Enter your comment..."> </div>
                <div class="mt-2">   
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">{{ komen.nama }}</span> 
                            </div>
                            <p class="text-justify comment-text mb-0">{{ komen }}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div> {% endcomment %}
    <br>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1> Comments </h1>
                  </div> 
                   <div class="comments-list">
                       {% for komen in listKomen %}
                        {% if komen.artikel.id == artikel.id %} 
                       <div class="media">

                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">{{ komen.nama }}</h4>
                              {{ komen }}
                              <br>
                            </div>
                        </div>
                        <br>
                         {% endif %}
                             {% endfor %}

                   </div>
                    
                    
                    
                </div>
            </div>
        </div>



{% endblock content %}


