{% extends 'base.html'%}
{% block title%}
PAC - Artikel
{% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="display-4 text-center pb-4 border-bottom">Artikel</h1>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="col-7 ml-auto">
            {{ formA.judul }}
        </div>
        <div class="col-7 ml-auto">
            {{ formA.penulis }}
        </div>
        {% comment %} <div class="col-7 ml-auto">
            {{ formA.waktu }}
        </div> {% endcomment %}
        {% comment %} <div class="col-7 ml-auto">
            {{ formA.gambar }}
        </div> {% endcomment %}
        <div class="col-7 ml-auto">
            {{ formA.gambar }}
        </div> 
        <div class="col-7 ml-auto">
            {{ formA.konten }}
        </div>

        <button type="submit" class="btn btn-dark col-2 mr-auto">Publis Artikel</button>
    </form>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

{% comment %} 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endcomment %} 

    <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for artikel in listArtikel %}
        <div class="card" style="width: 18rem;">
            <a href="{% url 'artikel:delete' artikel.id %}" class="col-2">
                <button type="button" class="close mb-2">&times;</button>
            </a>
            <img src="{{ artikel.gambar.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ artikel.judul }}</h5>
                <p class="card-text">{{ artikel.konten|slice:":100" }}...</p>
                <a href="{% url 'artikel:detail' artikel.id %}" class="btn btn-primary">Baca Selengkapnya!</a>
            </div>
        </div>
        {% endfor %}
    </div>


    {% comment %} <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for artikel in listArtikel %}
        <div class="card bg-light mt-5" style="width: 18rem;">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-10 mb-2">{{ artikel }}</h5>
                    <a href="{% url 'artikel:detail' artikel.id %}" class="card-link">DETAIL</a>
                    <a href="{% url 'artikel:delete' artikel.id %}" class="col-2">
                        <button type="button" class="close mb-2">&times;</button>
                    </a>
                </div>
                
            </div>
            <div class="card-body">
                <h6 class="card-title">Komentar:</h6>
                <img src="{{ artikel.gambar.url }}">
                <p></p>
                {% comment %} <ul>
                    {% for komen in listKomen %}
                    {% if komen.artikel.id == artikel.id %}
                    <li class="row">
                        <h5 class="col-10">{{ komen }}</h5>
                        <h5 class="col-10">{{ komen.nama }}</h5>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul> 
                <form method="POST">
                    {% csrf_token %}
                    {{ formB.komen }}
                    <input name="artikel" type="text" value="{{ artikel.id }}" style="display: none;">
                    <button type="submit" class="btn btn-dark col-6 mt-2">Komentari</button>
                </form>
            </div>
        </div>
        {% endfor %} {% endcomment %}


    </div>
</div>

{% endblock content %}
