{% extends 'base.html'%}
{% block title%}
PAC - Relawan
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 class="title-red">
        RELAWAN
      </h1>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-start">
    {% for relawan in object_list%}
    <div class="p ml-3 mb-3">
      <div class="card" style="width: 22em;">
        <div class="card-body">
          <h5 class="card-title">{{relawan.nama}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{relawan.email}}</h6>
          <p class="card-text">{{relawan.alasan}}</p>
          <a href="#" class="card-link text-primary" data-toggle="modal" data-target="#exampleModal{{ relawan.id }}">Lebih Lanjut</a>
          <a href="{% url 'relawan:Hapus-relawan' relawan.pk %}" class="card-link text-danger">[Hapus Relawan]</a>
        </div>
      </div>
      <div class="modal fade" id="exampleModal{{ relawan.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="exampleModalLabel">{{relawan.nama}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>SWOT:</p>
              <p class='deskripsi-box'>{{relawan.swot}}</p>
              <p>Minat:</p>
              <p class='deskripsi-box'>{{relawan.tertarik}}</p>
              <p>Alasan ikut Relawan:</p>
              <p class='deskripsi-box'>{{relawan.alasan}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
