
/* =============== UNTUK base.html =============== */

body{
  background-color: #f8f8f8;
  height: 100vh;
  margin:0; 
}
a, a:hover{
  text-decoration: none;
  color: #000000;
}
header{
 min-height:50px;
}
footer{
  min-height:50px;
}
p{
  color: #000000;
  font-size: 20px;
}
/*Trick*/
body{ 
  display:flex; 
  flex-direction:column; 
}
footer{
  margin-top:auto; 
}
.navblock{
  height: 20vh;
}
.navbar-brand{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 45px;
}
.navbar-nav{
  font-size: 2.5vw;
  font-weight: 500;
}
.navbar-dark{
  background-color: #CF6448;
  border-radius: 0 0 10px 10px;
  box-shadow: 6px 6px 10px 12px #ccc;
}
.navbar-dark .navbar-nav > .nav-item{
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-dark .navbar-nav > .nav-item > a {
  color: #ffffff;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.5vw;
  line-height: 45px;
}
.navbar-dark .navbar-nav > .nav-item > a:hover {
    color: #521101;
}
.footer-p{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color:#ffffff;
}
.daftar-p:hover{
  color: #521101;
}
.footer-r{
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0;
  background-color: #cf6348b0;
}
.footer-daftar:hover{
  text-decoration: none;
}
.footer-container{
  width: 100vw;
  padding: 0;
  margin: 0;
}

/* =============== template untuk CSS website masing-masing =============== */

.title-red{
  color: #A82223;
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bold;
  font-size: 5vw;
}
.button-to-form, .button-to-form:hover{
  color: #ffffff;
  background-color: #A82223;
  font-family: 'Source Sans Pro';
  border-radius: 20px;
  padding: 10px;
  width: auto;
  font-size: 1vw;
}
.button-to-form:hover{
  padding: 12px;
}
.hapus-data{
  color: #ff6600;
}
.hapus-data:hover{
  color: rgb(255, 230, 0);
}
.deskripsi-box{
  background-color: #F2D5CE;
  padding: 3px 5px;
  border-radius: 5px;
}


