<!DOCTYPE html>
<html lang="en">

  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href= "{% static 'style.css' %}" type="text/css">
    {% block css%} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'pacman.png' %}" alt="" id="foto-kecil" style="width: 3vw; height: 3vw;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:index' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'artikel:artikel' %}">ARTIKEL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'aboutus:about' %}">ABOUT</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'hotline:html_home_hotline' %}">HOTLINE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'relawan:List-relawan' %}">VOLUNTEER</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="container-fluid footer-container">
        <div class="row footer-r">
          <div class="col-sm align-self-center">
            <p class="footer-p">Copyright (C) pacil against corona</p>
          </div>
          <div class="col-sm align-self-center">
            <p class="footer-p">email : pac@gmail.com</p>
          </div>
          <div class="col-sm align-self-center">
            <a href="{% url 'relawan:Daftar-relawan' %}" class="footer-daftar"><p class="footer-p daftar-p">
              Daftar<br>
              Relawan
            </p></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>